<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    <%- include('includes/header')%> <%- include('includes/aside')%>
    <main>
      <h1>Something went worng!</h1>
      <p>
        Unfortunately, somethig went worng on the server - we're doing our best
        to fix it as quickly as possible!
      </p>
    </main>
  </body>
</html>
